# Virtual environment
venv/
.venv/
.env

# Python cache
__pycache__/
/.pytest_cache

# Test files
tests/tests.md

# Repository_dumping
repository_dump.txt
save.py
save_structure.py

# Styling files
.pre-commit-config.yaml
pyproject.toml


# MD files
plans.md
repository_dump.md
plans/

# VSC files
.vscode/

# coverage
.coverage
